body{
    background-color: rgb(111, 106, 134);
    font-size:18px;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    height: 60%;
    width: 70%;
    padding: 50px;
    background-color: rgb(56, 40, 61);
    border-radius: 20px;
    border: rgb(75, 65, 117) solid 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(106, 199, 168);
}

form{
    width: 90%;
    display: flex;
    flex-direction: column;
}

label{
    margin: 10px 0;
}

#button{
    margin-top: 20px;
    width: 120px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(86, 141, 123);
    border: rgb(106, 199, 168) solid 2px;
}

input, select{
    border: none;
}

#button:hover{
    background-color: rgb(53, 99, 84);
}

#count, #type{
    height: 25px;
    width: 200px;
    font-size: 18px;
}

#options{
    width: 100%;
    font: 18px;
    letter-spacing: inherit;
    word-spacing: inherit;
    border: 0.1em solid;
    padding: 0 0.2em;
    appearance: none;
}


@media screen and (min-width: 700px){
    body{
        font-size: 21px;
    }
    #select{
        font: inherit;
    }
    form{
        width: 70%;
    }
    .wrapper{
        width: 50%;
    }
}
