body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #012442;
    color: rgb(211, 192, 170);
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content{
    flex: 1 0 auto;
}

header{
    width: inherit;
    height: 120px;
    background-color: #3d7792;
    border: #5BA0BF solid 3px;
    margin: 0 auto;
    padding: 10px;
    color: #ffb158;
    border-radius: 0px 0px 15px 15px;

    display: flex;
    flex-direction: row;
}

header>div{
    width: 100%;
}

.main{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
}


#logo_img{
    float: left;
    width: 150px;
    height: 120px;
}

footer{
    width: 99.5%;
    height: 100px;
    margin: 0 auto;
    background-color:aquamarine;
    flex: 0 0 auto;
    background-color: #3d7792;
    color: #FFA566;
    border-radius: 15px 15px 0px 0px;
    border: #5BA0BF solid 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer>span{
    padding: 20px;
    color:#FFA566;
}

.main-title{
    display: flex;
    flex-direction: column;
}

#title{
    font-size: 38px;
    padding-top: 50px;
    text-align: right;
    padding-right: 30px;

    order:1;
}

.header_url{
    display: flex;
    flex-direction: column;
    font-size: 25px;

    background-color: #2680aa;
    border: #FFA566 solid 3px;
    order: 2;

    margin-top: 60px;
}

.header_url>a{
    text-decoration: none;
    color: #ff8153;
    padding: 10px;
    margin: 0px 8px;
}

.second{
    border-bottom: #FFA566 solid 3px;
    border-top: #FFA566 solid 3px;
}

.header_url>a:hover{
    color: #fc6833;
}

.url_list a{
    color: #FFA566;
}
.url_list a:hover{
    color: #ff8833;
}

.url_list li{
    padding: 5px 0;
}

.url_list{
    order:3;
}

#table{
    margin-top: 30px;
    order:2;
    width: 100%;
    font-size:medium;
}

.form{
    order: 4;
}

#table>table{
    margin: 20px auto;
    border: #3d7792 solid 3px;
}

#table th{
    color: #e4754d;
    padding: 10px;
    background-color:#0c3355;
}

#table td{
   text-align: center;
}

#table tr:nth-child(odd){
    background-color: #0a477c;
 }

.form form{
    margin: 0 auto;
    margin-top: 30px;
}

.form span{
    font-size: 26px;
    color: #FFA566;
}

.button{
    width: 100px;
    height: 40px;
    background-color:#5BA0BF;
    border: #0a477c solid 1px;
    border-radius: 5px;
    color:#0a477c;
    font-size: 15px;
    font-weight: bold;
}

.button:hover{
    background-color:#32a4da;
}

.button:active{
    background-color:#2680aa;
}

input{
    background-color: #3d7792;
    border: none;
    height: 25px;
    color:#FFA566;
    font-size: 20px;
}
::placeholder{
    color:rgb(204, 192, 176)
}

@media screen and (min-width: 800px) {
    .url_list{
        order:1;
    }
    
    #table{
        order:2;
        margin-top: 0px;
        font-size: 25px;
    }

    .header_url{
        flex-direction: row-reverse;
        order: 1;
    }

    #title{
        order: 2;
        padding-top: 50px;
        margin-left: 10px;
        text-align: left;
        padding-left: 10px;
    }

    .header_url{
        background-color:#3d7792;
        border: none;
        position: absolute;
        right: 20px;
        top: 20px;
        margin-top: 0px;
        width: 40%;
        font-size: 30px;
    }

    .header_url>a{
        padding: 3px;
    }

    body{
        font-size: 25px;
    }
    #title{
        font-size: 45px;
    }

    .form span{
        font-size: 30px;
    }
    .second{
        border: none;
    }
}
